
<div id="main"> 
 <div id="sidebar">
    <ul class="static_pages">
      
    </ul>
  </div>
  <div id="content">
  	<div height="500px">     
	<p>
	  Contact to Zigexn Ventura by
	  <a href="http://wiki.zigexn.vn/doku.php?id=corporate_information">contact page</a>.
	</p>
  </div> 
  </div> 
</div>