/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.btn_orderdetails{
  width: 150px ;
}

.pagination {
    display: inline-block;
    padding-left: 0px;
    margin: 10px 0px;
    border-radius: 4px;
}

/*a {
    color: #333;
}*/
.btn_search {
  width: 50px ;
  
}
.pagination {
    display: inline-block;
    padding-left: 0px;
    margin: 10px 0px;
    border-radius: 4px;
} 

.text-quantity {
  width: 50px;
  display: inline-block!important;
  margin: 0px!important;
}

.order { padding-top:1px; border :1; border-collapse: collapse;}

input{ margin-bottom: 10px!important}

