<footer class="footer">
  <small>    
    copyright@2014 by <a href="http://zigexn.vn/">ZIGExN VeNtura</a>
  </small>
  <!--nav>
    <ul>
      <li><%= link_to "About",   "http://zigexn.vn/#about-us" %></li>
      <li><%= link_to "Contact", "http://zigexn.vn/#contact" %></li>
      <li><%= link_to "News", "http://zigexn.vn/#news" %></li>      
    </ul>
  </nav-->
</footer>

